@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
/* 초기화 */
*{margin:0;padding:0;}
ul, li {margin: 0;padding: 0;list-style: none;}


/* 공통 */
.tal {text-align:left;}
.tac {text-align:center;}
.tar {text-align:right;}
.ct_btn {display:inline-block; box-sizing:border-box; padding:1px 2px; border-radius:3px; color:#b9b9b9; font-size:0.8em; border:1px solid #b9b9b9;}
.ct_btn.del_btn:hover {color:red;}
.ct_btn.update_btn:hover {color:#37c5f7;}
html,body {width:100%; height:100%;}
body{ font-family: "Noto Sans KR", sans-serif;
	  font-optical-sizing: auto;
	  font-weight: normal;
	  font-style: 0.9em; }
.header_wrap {width:100%; max-width:1200px; margin:0 auto;  }
header {width:100%; background:#fff; box-sizing:border-box; padding-top:10px;}
header #logo {display:inline-block; margin-left:10px;}
header #logo a {display:inline-block; }
header #logo a img {width:200px;}

header #head_link li {float:left; margin-right:5px;}
header #head_link li a {font-size:13px;}

article { width:100%; margin:0 auto; }

/*****nav*************************************/

.nav_inner {width:100%; max-width:1200px; margin:0 auto; position:relative; }
.nav-area {background:#37c5f7;}
/* 1depth 메뉴 */
.gnb {
  display: flex;
  padding: 0;
}

.gnb > li {
  position: relative;
  width:120px;
}

.gnb > li > a {
  display: block;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
}

.gnb > li > a:hover {
  background-color: #eee;
  color:#000;
}

/* 초기 숨김 설정 */
.submenu-wrap {
  position: absolute;
  top: 100%;
  left: 0;
  
  background-color: #eee;
  z-index: 100;
  display: flex;
  padding: 15px 0;

  visibility: hidden;
  opacity: 10;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

/* hover 시 보이게 설정 */
.nav-area:hover .submenu-wrap {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.submenu-wrap {width:100%;}

/* 각 서브메뉴 블럭 */
.submenu {margin: 0px;padding-left:0;}
.submenu li {width:120px;}
.submenu li a {
  display: inline-block;
  width:100%;
  padding: 10px;
  color:#000;;
  text-decoration: none;
  padding:10px 0px 10px 20px;
}

.submenu li a:hover {color:#0080ff;}



/* 1depth에 hover 시 전체 서브메뉴 보이기 */
.gnb:hover + .submenu-wrap,
.submenu-wrap:hover {
  display: flex;
}
/* 헤더 검색창 */
#search {float:right;margin-bottom: 20px;}
#search .search_input{display:inline; width:300px;}

/* 본문 */
#wrap {width:100%;}
.mainbanner_wrap {width:100%; height:300px;}
.contents_wrap {width:100%; max-width:1200px; margin:0 auto;}
.carousel-item {background:#676767 !important;}

.weather_wrap {width:100%;}

.weather_goods .goods_item {background:#eee; height:100px;}


/* 게시판 */
.comment_wrap {width:100%; margin-top:10px; border-top:1px solid #dbdbdb; padding: 10px;}
.comment_wrap .textarea_box {width:100%; height:120px;  border: 1px solid #eee; box-sizing:border-box; margin-top:10px;}
.comment_wrap textarea {width:100%; overflow-y:scroll;  box-sizing:border-box; padding:10px; border:0;}
.comment_wrap .btn_box {text-align:right;box-sizing:border-box; padding:10px; }
.contents_box {width:100%; min-height:300px; border: 1px solid #eee; box-sizing:border-box; padding:10px;}
.contents_box .imgbox {width:100%; text-align:center;}
.contents_box img {max-width:500px; margin:0 auto;}
/* 댓글 */
.commentlist_box {width:100%;  box-sizing:border-box; padding:10px; text-align:left;}
.comment_box {padding:10px; margin-top: 10px; border-bottom:1px dashed #eee;
position:relative;
}
.comment_box .comment_up_del {position: absolute; right:10px; top:4px;}
.comment_box .comment {}

.commenter {}

/* 조아용 */

#like {color:#ccc; text-align:left; margin-bottom:10px; cursor: pointer;}

#like.like_on #likeBtn {background:url(/petmillie/resources/image/like_on.png) left center no-repeat; background-size: 20px; padding: 3px 3px 3px 25px;}
#like.like_off #likeBtn {background:url(/petmillie/resources/image/like.png) left center no-repeat; background-size: 20px; padding: 3px 3px 3px 25px;}

#like input[type="button"] {border:0;}


/* 로그인 */

.login_wrap {width:100%; max-width:500px; margin:0 auto;}
.login_wrap form , .login_wrap h3{width:75%; margin: 0 auto;}
.login_wrap h3 {font-size:20px; margin:20px auto;}
.login_wrap form input.login_input {height: 58px; padding:16px 12px; box-sizing:border-box; }
.login_wrap form input.login_input:first-child {border-radius:0.375rem 0.375rem 0 0;}
.login_wrap form input.login_input:nth-child(2) {border-radius:0 0 0.375rem 0.375rem;}
.login_btns {margin:20px 0;}



/* 상품리스트 */
.goods-item {position:relative;}
.goods-item .goods-name {font-weight:bold; border-top:1px solid #ddd; text-align:left;}
.goods-item .goods-price {color:#ff2727; font-weight:bold; text-align:right;}
.goods-item input[type="button"].cart_icon_btn {display:inline-block; width:20px; height:20px; background:url(/petmillie23/resources/image/cart.png) no-repeat; background-size:cover;border:none;}
.goods-item input[type="button"].cart_icon_btn:hover {display:inline-block; width:20px; height:20px; background:url(/petmillie23/resources/image/cart_on.png) no-repeat;background-size:cover;border:none; }

.goods-item input[type="button"].like_icon_btn {display:inline-block; width:20px; height:20px; background:url(/petmillie23/resources/image/like.png) no-repeat; background-size:cover;border:none;}
.goods-item input[type="button"].like_icon_btn:hover {display:inline-block; width:20px; height:20px; background:url(/petmillie23/resources/image/like_on.png) no-repeat;background-size:cover;border:none; }

.cartAndLike_wrap {position:absolute;left:0;}
.goods-item a img {width:100%;}









